/*universal styles*/
/* line 2, ../scss/_base.scss */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 10, ../scss/_base.scss */
html {
  height: 100%;
  overflow: hidden;
}

@font-face {
  font-family: "Butler-Bold";
  src: url(../fonts/Butler-bold.otf);
}
@font-face {
  font-family: "ButlerStencil-ExtraBold";
  src: url(../fonts/ButlerStencil-extraBold.otf);
}
@font-face {
  font-family: "BaronNeue";
  src: url(../fonts/BaronNeue.otf);
}
/*parallax styles*/
/* line 38, ../scss/_base.scss */
.container {
  max-width: 100vw;
}

/* line 42, ../scss/_base.scss */
body {
  background-color: #95caf3;
}

/* line 46, ../scss/_base.scss */
.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
}

/* line 54, ../scss/_base.scss */
.parallaxLayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 62, ../scss/_base.scss */
.group {
  position: relative;
  /* padding: 25vh 10%; */
  min-height: 60vh;
  /* width: 100vw; */
  transform-style: inherit;
  background: 50% 50% / cover;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

/* line 73, ../scss/_base.scss */
.group:before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: 50% 50% / cover;
}

/*base styles*/
/* line 85, ../scss/_base.scss */
.base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0) scale(1);
  z-index: 5;
}

/* line 91, ../scss/_base.scss */
.base2 {
  -webkit-transform: translateZ(-50px) scale(1.2);
  transform: translateZ(-50px) scale(1.2);
  z-index: 6;
  opacity: 50%;
}

/*group styles*/
/* group 1 */
/* line 102, ../scss/_base.scss */
#group1 {
  z-index: 8;
  min-height: 760px;
}

/* line 108, ../scss/_base.scss */
#group1 .base {
  background-image: url("../img/starry.jpg");
}

/* group 2 */
/* line 113, ../scss/_base.scss */
#group2 {
  z-index: 6;
  height: 1000px;
}

/* line 124, ../scss/_base.scss */
#group2 .base2 {
  background-image: url("../img/sunrise.jpg");
  background-size: cover;
  transform: translateZ(100px) scale(1.3);
  height: 1500px;
}

/* group 3*/
/* line 134, ../scss/_base.scss */
#group3 {
  z-index: 7;
  margin-top: 700px;
  height: 600px;
}

/* line 140, ../scss/_base.scss */
#group3 .base {
  background: 50% 50% no-repeat;
  background-size: cover;
  margin-top: 700px;
  background-color: #95caf3;
}

/* line 150, ../scss/_base.scss */
#group4 .base {
  background-image: url(../img/clouds.png);
  height: 1000px;
  transform: translateZ(150px) scale(0.7);
  /* top: 0%; */
  z-index: 20;
  width: 100%;
}

/* line 186, ../scss/_base.scss */
.line {
  width: 100%;
  height: 1px;
  margin-bottom: 41px;
  /* margin-top: -20px; */
  transform: translateZ(80px) scale(1);
  background-color: white;
  box-shadow: 1px 0px 12px #fce97a;
  z-index: 20;
}

/* line 201, ../scss/_base.scss */
.sun2 {
  z-index: 21;
  left: 50%;
}
/* line 206, ../scss/_base.scss */
.sun2 img {
  margin-top: 200px;
  height: 300px;
  width: auto;
}

/* line 213, ../scss/_base.scss */
#group4 .base2 {
  background-color: #95caf3;
  opacity: .7;
  max-width: 288px;
  margin-left: 500px;
}

/* line 221, ../scss/_base.scss */
p.fourth {
  transform: translateZ(120px) scale(0.4);
  width: 560px;
  z-index: 23;
  top: 0;
  left: 10%;
}

/* line 230, ../scss/_base.scss */
#base5 .base {
  background-image: url(../img/clouds2.png);
  height: 1000px;
  transform: translateZ(150px) scale(0.7);
  /* top: 0%; */
  z-index: 24;
  width: 100%;
}

/* line 239, ../scss/_base.scss */
#group5 .base {
  background-color: #6dcaf3;
  transform: translateZ(150px) scale(0.7);
  transform: translateZ(136px) scale(0.7);
  top: 44%;
  z-index: 25;
  margin-bottom: 293px;
}

/* line 249, ../scss/_base.scss */
p.fifth {
  transform: translateZ(143px) scale(0.6);
  z-index: 31;
  bottom: 160px;
  font-size: 25px;
  line-height: 100px;
  /* top: 15px; */
  text-align: center;
  /* left: 86px; */
  width: 100vw;
  border: solid 0px rgba(255, 255, 255, 0.85);
  padding: 9px 2px;
  box-shadow: 31px 8px 8px rgba(252, 233, 122, 0.33);
  border-bottom-width: 1px;
}

/* line 266, ../scss/_base.scss */
p.sixth {
  transform: translateZ(100px) scale(0.7);
  z-index: 31;
  bottom: 3px;
  line-height: 86px;
  top: -100px;
  width: 100vw;
  font-size: 59px;
  text-align: center;
  text-shadow: 4px 3px 9px rgba(206, 0, 93, 0.72);
  padding: 527px 300px;
  border: double 0px white;
  border-bottom-width: 4px;
}

/* line 280, ../scss/_base.scss */
#group6 {
  z-index: 29;
}

/* line 284, ../scss/_base.scss */
#group6 .base {
  background-image: url("../img/sunset.png");
  background-size: cover;
  transform: translateZ(100px) scale(1.3);
  height: 1500px;
}

/* line 291, ../scss/_base.scss */
.sun3 {
  z-index: 31;
  top: 800px;
  left: -100px;
  transform: translateZ(-220px) scale(1.2);
}

/* line 298, ../scss/_base.scss */
p.seventh {
  font-size: 60px;
  top: 785px;
  transform: translateZ(-250px) scale(1.2);
  width: 46vw;
  margin-left: 700px;
  text-align: center;
  z-index: 35;
}

/* line 313, ../scss/_base.scss */
#group7 .base {
  background-image: url(../img/starry2.png);
  z-index: 32;
  height: 1500px;
  top: 521px;
  transform: translateZ(157px) scale(0.6);
}

/* line 322, ../scss/_base.scss */
.moon {
  margin-top: 620px;
  z-index: 33;
  transform: translateZ(100px) scale(0.5);
  width: 610px;
  left: 13vw;
}

/* line 331, ../scss/_base.scss */
p.eighth {
  top: 281%;
  font-size: 40px;
  z-index: 35;
  transform: translateZ(-113px) scale(1.3);
  text-shadow: 1px 1px 13px #5e48ad;
  width: 83vw;
  text-align: center;
  left: 65px;
}

/* line 343, ../scss/_base.scss */
#group8 .base {
  height: 500px;
  background-color: #0e032e;
  z-index: 32;
  top: 139%;
}

/* line 350, ../scss/_base.scss */
p.ninth {
  top: 171%;
  font-size: 115px;
  color: #ffd657;
  font-family: 'Butler-Bold';
  line-height: 40px;
  z-index: 36;
  text-align: center;
  width: 100vw;
  text-shadow: 1px 1px 13px #fce97a;
  background-color: #0e032e;
  padding-bottom: 200px;
  transform: translateZ(200px) scale(0.4);
}

/*content styles*/
/* line 377, ../scss/_base.scss */
.title {
  text-align: center;
  width: 20px;
  left: 40%;
  font-family: 'ButlerStencil-extraBold';
  text-transform: uppercase;
  line-height: 78px;
  letter-spacing: -2px;
  font-size: 90px;
  color: #fce97a;
  text-shadow: 1px 1px 13px #fce97a;
  top: 5%;
  z-index: 5;
  transform: translateZ(-163px) scale(1.2);
}

/* line 393, ../scss/_base.scss */
h1 {
  color: white;
  font-size: 100px;
  font-family: serif;
  text-align: center;
  position: absolute;
  z-index: 40;
}

/* line 402, ../scss/_base.scss */
.first {
  font-size: 115px;
  color: rgba(255, 255, 255, 0.85);
  font-family: 'Butler-Bold';
  line-height: 40px;
  bottom: 30%;
  transform: translateZ(170px) scale(0.4);
  position: absolute;
  z-index: 12;
  line-height: 162px;
  text-align: center;
  left: 0;
  right: 600;
  margin-bottom: 112px;
  width: 100vw;
}

/* line 430, ../scss/_base.scss */
#left {
  float: left;
}

/* line 434, ../scss/_base.scss */
#right {
  float: right;
}

/* line 438, ../scss/_base.scss */
.second {
  padding: 37px;
  bottom: -50px;
  font-size: 32px;
  transform: translateZ(95px) scale(0.8);
  position: absolute;
  z-index: 13;
  width: 100vw;
  text-align: center;
  border: double 00px;
  border-top-width: 4px;
  border-bottom-color: #ec7962;
  padding: 25px 54px;
  line-height: 47px;
  padding-right: 403px;
  padding-left: 400px;
  background-color: rgba(255, 214, 87, 0.4);
}

/* line 457, ../scss/_base.scss */
p {
  font-size: 60px;
  color: white;
  font-family: 'BaronNeue';
  line-height: 40px;
  padding: 20px;
  bottom: 50%;
  transform: translateZ(100px) scale(0.6);
  position: absolute;
  z-index: 12;
  line-height: 60px;
  letter-spacing: 2px;
  text-align: center;
}

/* line 473, ../scss/_base.scss */
p.third {
  transform: translateZ(1px) scale(1);
  font-size: 46px;
  font-family: "BaronNeue";
  text-align: center;
  border-width: 5px 0px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  bottom: 220px;
  margin-bottom: 200px;
  text-shadow: 4px 3px 9px rgba(31, 140, 224, 0.77);
}

/* line 488, ../scss/_base.scss */
figure {
  position: absolute;
  z-index: 31;
}

/* line 494, ../scss/_base.scss */
.sun {
  left: 21%;
  bottom: -91%;
  z-index: 12;
  transform: translateZ(-200px) scale(1.6);
}

/* line 501, ../scss/_base.scss */
img {
  width: 100%;
  opacity: 50%;
}
