/*universal styles*/
/* line 2, ../scss/_base.scss */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 10, ../scss/_base.scss */
html {
  height: 100%;
  overflow: hidden;
}

@font-face {
  font-family: "Butler-Bold";
  src: url(../fonts/Butler-bold.otf);
}
@font-face {
  font-family: "ButlerStencil-ExtraBold";
  src: url(../fonts/ButlerStencil-extraBold.otf);
}
@font-face {
  font-family: "campton-bold";
  src: url(../fonts/campton-bold.otf);
}
@font-face {
  font-family: "campton-light";
  src: url(../fonts/campton-light.otf);
}
/*parallax styles*/
/* line 38, ../scss/_base.scss */
body {
  background-color: #95caf3;
}

/* line 42, ../scss/_base.scss */
.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
}

/* line 50, ../scss/_base.scss */
.parallaxLayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 58, ../scss/_base.scss */
.group {
  position: relative;
  padding: 25vh 10%;
  min-height: 60vh;
  width: 100vw;
  transform-style: inherit;
  background: 50% 50% / cover;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

/* line 69, ../scss/_base.scss */
.group:before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: 50% 50% / cover;
}

/*base styles*/
/* line 81, ../scss/_base.scss */
.base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0) scale(1);
  z-index: 5;
}

/* line 87, ../scss/_base.scss */
.base2 {
  -webkit-transform: translateZ(-50px) scale(1.2);
  transform: translateZ(-50px) scale(1.2);
  z-index: 6;
  opacity: 50%;
}

/*group styles*/
/* group 1 */
/* line 98, ../scss/_base.scss */
#group1 {
  z-index: 8;
  min-height: 760px;
}

/* line 104, ../scss/_base.scss */
#group1 .base {
  background-image: url("../img/starry.jpg");
}

/* group 2 */
/* line 109, ../scss/_base.scss */
#group2 {
  z-index: 6;
  height: 1000px;
}

/* line 120, ../scss/_base.scss */
#group2 .base2 {
  background-image: url("../img/sunrise.jpg");
  background-size: cover;
  transform: translateZ(100px) scale(1.3);
  height: 1500px;
}

/* group 3*/
/* line 130, ../scss/_base.scss */
#group3 {
  z-index: 7;
  margin-top: 700px;
}

/* line 135, ../scss/_base.scss */
#group3 .base {
  background: 50% 50% no-repeat;
  background-size: cover;
  margin-top: 700px;
  background-color: #95caf3;
}

/* line 145, ../scss/_base.scss */
#group4 .base {
  background-color: black;
  height: 700px;
}

/* line 151, ../scss/_base.scss */
#group4 .base2 {
  background-color: #95caf3;
  opacity: .7;
  max-width: 288px;
  margin-left: 500px;
  transform: translateZ(200px) scale(0.6);
}

/* line 160, ../scss/_base.scss */
#group4 p {
  transform: translateZ(100px) scale(0.6);
  width: 560px;
  margin-left: 100px;
  z-index: 6;
  top: 30%;
}

/*content styles*/
/* line 175, ../scss/_base.scss */
.title {
  text-align: center;
  width: 20px;
  left: 40%;
  font-family: 'ButlerStencil-extraBold';
  text-transform: uppercase;
  line-height: 78px;
  letter-spacing: -2px;
  font-size: 90px;
  color: #fce97a;
  text-shadow: 1px 1px 13px #fce97a;
  top: 5%;
  transform: translateZ(-163px) scale(1.2);
}

/* line 190, ../scss/_base.scss */
h1 {
  color: white;
  font-size: 100px;
  font-family: serif;
  text-align: center;
  position: absolute;
  z-index: 999;
}

/* line 199, ../scss/_base.scss */
.first {
  font-size: 90px;
  color: #e38959;
  font-family: 'Butler-Bold';
  text-shadow: 1px 0px 4px #fce97a;
  line-height: 40px;
  padding: 20px;
  bottom: 23%;
  transform: translateZ(100px) scale(0.5);
  position: absolute;
  z-index: 999;
  line-height: 162px;
  margin-bottom: 107px;
  width: 100%;
  text-align: center;
}

/* line 219, ../scss/_base.scss */
.second {
  left: 30%;
  padding: 20px;
  bottom: -7%;
  transform: translateZ(30px) scale(0.5);
  position: absolute;
  z-index: 999;
  width: 500px;
  background-color: rgba(127, 52, 84, 0.3);
}

/* line 232, ../scss/_base.scss */
p {
  left: 0%;
  font-size: 60px;
  color: white;
  font-family: 'campton-light';
  line-height: 40px;
  padding: 20px;
  bottom: 50%;
  transform: translateZ(100px) scale(0.6);
  position: absolute;
  z-index: 999;
  line-height: 60px;
  letter-spacing: 2px;
  text-align: center;
}

/* line 249, ../scss/_base.scss */
p.third {
  transform: translateZ(-100px) scale(1);
  font-size: 78px;
  font-family: "campton-light";
}

/* line 257, ../scss/_base.scss */
p.fourth {
  margin-top: 100px;
  left: 35%;
  top: 63%;
}

/* line 262, ../scss/_base.scss */
figure {
  position: absolute;
  z-index: 999;
}

/* line 267, ../scss/_base.scss */
.sun {
  left: 21%;
  bottom: -70%;
  transform: translateZ(-13.1px) scale(1.3);
}

/* line 273, ../scss/_base.scss */
img {
  width: 100%;
  opacity: 50%;
}
