/*universal styles*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
}

@font-face {
  font-family:"univers";
  src: url(../fonts/univers-extrablackobl.otf);
}


/*parallax styles*/

.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
}

.parallaxLayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.group {
  position: relative;
  padding: 25vh 10%;
  min-height: 60vh;
  width: 100vw;
  transform-style: inherit;
  background: 50% 50% / cover;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.group:before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: 50% 50% / cover;
}

/*base styles*/

.base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0) scale(1);
  z-index: 5;
}

.base2 {
  -webkit-transform: translateZ(-50px) scale(1.2);
  transform: translateZ(-50px) scale(1.2);
  z-index: 6;
  opacity: 50%;
}

/*group styles*/


/* group 1 */
#group1 {
  z-index: 8;
    min-height:760px;

}

#group1 .base {
  background-image: url('../img/starry.jpg');
}

/* group 2 */
#group2 {
  z-index: 6;
  height:1000px;

}

// #group2 .base {
//   background: blue 50% 50% no-repeat;
//   background-size: cover;
// }

#group2 .base2 {
  background-image: url('../img/sunrise.jpg');
  background-size: cover;
  transform: translateZ(100px) scale(1.3);
  height: 1500px;


}

/* group 3*/
#group3 {
  z-index: 7; 
  margin-top: 700px;
}

#group3 .base {
  background: 50% 50% no-repeat;
  background-size: cover;
    margin-top: 700px;
    background-color: rgba(149,202,243,1);

}

// group 4

#group4 .base {
  background-color: black;
  height: 700px;

}

#group4 .base2 {
  background-color: white;
  opacity: .7;
      max-width: 288px;
    margin-left: 500px;
    transform: translateZ(200px) scale(.6);

}

#group4 p {
    transform: translateZ(100px) scale(0.6);
    width: 560px;
    margin-left: 100px;
    z-index: 6;
    top:30%;



}



/*content styles*/

.title {
  text-align: center;
  width:20px;
  left:40%;
  font-family: 'univers';
  text-transform: uppercase;
  line-height: 78px;
  letter-spacing: -2px;
  font-size: 100px;
  color: rgba(252,233,122,1);
text-shadow: 1px 1px 13px rgba(252,233,122,1);
  // -webkit-transform: translate(-50%, -50%);
  // transform: translate(-50%, -50%);
    top:10%;
    transform: translateZ(-100px) scale(1);
}

h1 {
  color: white;
  font-size: 80px;
  font-family: serif;
  text-align: center;
  position: absolute;
  z-index: 999;
}

p {
  left: 0%;
  font-size: 20px;
  color: white;
  font-family: sans-serif;
  line-height: 40px;
  padding: 20px;
  bottom: 50%;
  background: rgba(0, 10, 10, 0.4);
  transform: translateZ(100px) scale(0.6);
  position: absolute;
  z-index: 999;
}

p.second {
  top: 50%;
  padding-bottom: 100px;
    transform: translateZ(100px) scale(0.6);

}

figure {
    width: 20%;
    left: 47%;
    bottom: 40%;
    transform: translateZ(200px) scale(0.6);
    position: absolute;
    z-index: 999;
}

 .sun {width: 20%;
    left: 41%;
    bottom: -39%;
    transform: translateZ(-50px) scale(1.7);
}

img {
  width: 100%;
}


