/*universal styles*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
}


/*parallax styles*/

.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
}

.parallaxLayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.group {
  position: relative;
  padding: 25vh 10%;
  min-height: 60vh;
  width: 100vw;
  transform-style: inherit;
  background: 50% 50% / cover;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.group:before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: 50% 50% / cover;
}

/*base styles*/

.base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0) scale(1);
  z-index: 5;
}

.base2 {
  -webkit-transform: translateZ(-50px) scale(1.2);
  transform: translateZ(-50px) scale(1.2);
  z-index: 6;
  opacity: 50%;
}

/*group styles*/


/* group 1 */
#group1 {
  z-index: 8;
}

#group1 .base {
  background: rgba(100,230,170,1);
}

/* group 2 */
#group2 {
  z-index: 6;
}

#group2 .base {
  background: blue 50% 50% no-repeat;
  background-size: cover;
  opacity: 50%;
}

#group2 .base2 {
  background: orange 50% 50% no-repeat;
  background-size: cover;
  opacity: .4;
  transform: translateZ(100px) scale(1.3);
  margin-top: 420px;
  height: 300px;

}

/* group 3*/
#group3 {
  z-index: 7; 
}

#group3 .base {
  background: url('http://placehold.it/960x450/ff0000') 50% 50% no-repeat;
  background-size: cover;
}

// group 4

#group4 .base {
  background-color: black;
  height: 700px;

}

#group4 .base2 {
  background-color: white;
  opacity: .7;
      max-width: 288px;
    margin-left: 500px;
    transform: translateZ(200px) scale(.6);

}

#group4 p {
    transform: translateZ(100px) scale(0.6);
    width: 560px;
    margin-left: 100px;
    z-index: 6;
    top:30%;



}



/*content styles*/

.title {
  text-align: center;
  position: absolute;
  left: 44%;
  top: 21%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
    transform: translateZ(-150px) scale(1);
}

h1 {
  color: white;
  font-size: 80px;
  font-family: serif;
  text-align: center;
  position: absolute;
  z-index: 999;
}

p {
  left: 0%;
  font-size: 20px;
  color: white;
  font-family: sans-serif;
  line-height: 40px;
  padding: 20px;
  bottom: 50%;
  background: rgba(0, 10, 10, 0.4);
  transform: translateZ(100px) scale(0.6);
  position: absolute;
  z-index: 999;
}

p.second {
  top: 50%;
  padding-bottom: 100px;
    transform: translateZ(100px) scale(0.6);

}

figure {
    width: 20%;
    left: 47%;
    bottom: 40%;
    transform: translateZ(200px) scale(0.6);
    position: absolute;
    z-index: 999;
}

img {
  width: 100%;
}


